<div class="wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="company-create" method="post" th:action="@{/edit/{id}(id=${company.id})}">
        <h4>Edit Company's </h4>
        <div>
            <div class="create-name-label">Company Name</div>
            <input type="text" class="create-name-content" name="name" th:field="${company.name}" />
        </div>
        <div class="create-button-holder">
            <button type="submit" class="button">Edit Company</button>
            <a type="button" href="/" class="button">Back</a>
        </div>
    </form>
</div>