<div class="wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="company-create" method="post" th:action="@{/employee/create}">
        <div class="create-header">
            Add Employee
        </div>
        <div class="create-name">
            <div class="create-name-label">Name</div>
            <input type="text" class="create-name-content" name="name" />
        </div>
        <div class="create-name">
            <div class="create-name-label">Experience Level</div>
            <input type="text" class="create-name-content" name="experienceLevel" />
        </div>
        <div class="create-nickname">
            <div class="create-nickname-label">Starting Date</div>
            <input class="date-style" type="date"   name="startingDate"/>
        </div>
        <div class="create-price">
            <div class="create-price-label">Salary</div>
            <input type="number" min="0" step="0.01" class="create-price-content" name="salary" />
        </div>
        <div class="create-price">
            <div class="create-price-label">Vacation Days</div>
            <input type="number" min="0" step="1" class="create-price-content" name="vacation" />
        </div>
        <div class="create-button-holder">
            <button type="submit" class="button">Add Employee</button>
            <a type="button" href="/" class="button">Back</a>
        </div>
    </form>
</div>